.App {
  background-color:#000000;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(93,93,103,1) 0%, rgba(12,12,18,1) 100%);
  padding: 0 1.5%
}

body {
  background-color:#000000;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(93,93,103,1) 0%, rgba(12,12,18,1) 100%);
}

.navm {
  margin: 10px 0;
}

.country-flag-pl {
  display: none
}

.svg-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.svg-menu {
  margin-top: 10px
}

.selection-container {
  display: flex;
  flex-direction: row;
}

.transform-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px
}

.about-contributor {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.footer-text-container {
  width: 70%;
  font-size: .8em;
}

a:link.icon-link, a:visited.icon-link {
  text-decoration: none;
  color: white
}

.tooltip-content {
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(93,93,103,1) 0%, rgba(12,12,18,1) 100%);
  position: relative;
  bottom:85px;
  border: 1px solid #ffeda0;
  color: #ffeda0;
  padding: 5px;
  /* z-index: 100; */
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(.8)
}